{% extends 'layout.html.twig' %}

{% block content %}
ARTICLE<br/> <br/> <br/> <br/> 
{% if articleToShow is defined and articleToShow is not empty %}
Id de l'article :{{articleToShow.id}}<br/>
titre de l'article :{{articleToShow.title_article}}<br/>
Auteur de l'article :{{articleToShow.author_article}}<br/>
Texte de l'article :{{articleToShow.text_article}}<br/>
Date de l'article :{{articleToShow.date_article}}<br/><br/>
{% endif %}

COMMENTS<br/> <br/> <br/> <br/> 
{% for comment in commentsToShow %}
<div class="comment">
Comment:{{comment.text_comment}}<br/> 
Par: {{comment.author_comment}}<br/> 
Le: {{comment.date_comment}}<br/> 
{% if name is defined and name is not empty %}
{% if name == comment.author_comment or name == articleToShow.author_article %}
    <form name="delete-comment-form" class="delete-comment-form" method="POST" action="?action=deleteComment">
    <input type="hidden" name="id-comment" value={{ comment.id }}>
     <div class="deleteCommentLink">Delete Comment</div>
    </form>
{% endif %}
{% endif %}
</div><br/> <br/> 
{% endfor %}

{% if name is defined and name is not empty %}
Want to post a comment?<br/>
<form name="post-comment" method="POST" action="?action=createComment">
    <input type="hidden" name="author-comment" value={{name}}>
    <input type="hidden" name="id-article" value={{articleToShow.id}}>
    <input type="text" name="text-comment"><br/>
    <input type="submit">
</form><br/> <br/> 
{% endif %}

{% endblock %}