{% extends 'layout.html.twig' %}

{% block content %}

<h1>Hello {{ name }} !</h1>
LISTE DES ARTICLES
{% for article in articles %}
<div class="article">
    Titre:{{ article.title_article }}<br/>

    <form name="show-profile-form" class="show-profile-form" method="POST" action="?action=showProfile">
    <input type="hidden" name="author-name" value={{ article.author_article }}>Auteur:
     <div class="showProfileLink">{{article.author_article}}</div>
    </form>
    Texte:{{ article.text_article }}<br/>
    Date:{{ article.date_article }}<br/>

    <a href="?action=showArticle&id_article={{article.id}}" class="show-article">Voir l'article</a>
</div><br/>
{% endfor %}
{% endblock %}
